<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Permite POST em arquivos estáticos (necessário para Web Share Target PWA) -->
      <remove name="StaticFile" />
      <add name="StaticFile" path="*" verb="GET,HEAD,POST,OPTIONS,DEBUG"
           modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
    </handlers>
  </system.webServer>
</configuration>
